<!DOCTYPE html>

<html lang="ru">

<head>

<meta charset="utf-8">

<title>О себе</title>

<link rel="stylesheet" type="text/css" href="about_me_styles.css">
<script type="text/javascript" src="about_me_pagebuilder.js"></script>
<script type="text/javascript" src="functions.js"></script>

</head>
<body class="body">

<div class="header">
<li><a type="text" href="../index.html">Главная страница</a></li>
<h1>О себе</h1>
</div>

<img src="pollinator.png">

<div class="content">
<h2>Информация обо мне</h2>

<p><em>На данной странице я попытаюсь максимально кратко и информативно
 донести большинство информации о себе.</em></p>

<h3>Характеристика</h3>

<p>Стрелков Николай Александрович, 16.12.2002 года рождения, являюсь учеником МБОУ"Выскоключевая СОШ". 
В настоящее время заканчиваю обучение в 9-ом классе.Проявляю себя, как адекватного и спокойного человека.
Не допускаю пропусков занятий и нарушения дисциплины.
Средний балл успеваемости-4,7. Веду активный образ жизни. Избегаю конфликтных ситуаций и подобного рода обстоятельств,
в большинстве жизненных ситуаций предпочитаю свободомыслие.</p>

<p>По характеру стараюсь быть добрым, независимым и образованным.Вежлив при общении со взрослыми и другими людьми.
Пользуюсь авторитетом среди друзей и товарищей. Не хочу полностью вклиниваться и зависить от общества и окружающего меня социума,
скорее наоборот, придерживаюсь пределов, в которых ощущаю себя комфортно. Развиваю такие качества, как:
<ul>
<li>Целеустремленность</li>
<li>Трудолюбие</li>
<li>Саморазвитие</li>
<li>Эмоциональная устойчивость</li>
<li>Организованность</li>
</ul>
<p> Интересна деятельность связанная с душевной сферой(рисование,музыка и т.д.). Хорошо развита фантазия и душевное разнообразие.
 В определенных ситуациях проявляю себя, как человек творческий и креативный.</p>

</div>
<div class="footer>

</div>

</body>

</html>