<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Strelkov: Контактные данные</title>
  <link rel="stylesheet" type="text/css" href="css/start_page.css">
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
  <script src="scripts/functions.js"></script>
</head>
<body>

  <div class="header"><h1 id="headname">Strelkov: Contacts</h1></div>

  <div class="footer">
    <img id="logo" src="images/logo.png">
  </div>

</body>
</html>